%% 编译选项定义在erl_opts字段下，具体可使用的字段和值参照erlang的编译选项
{erl_opts, [
  %% lager的配置需要放第一位
  {parse_transform, lager_transform},
  debug_info
]}.

%%  最小OTP版本检查
{minimum_otp_vsn, "20.3"}.

%% 插件
{plugins, [
  %%  {gpb, "4.10.0"},  % 这里比较奇怪，主动加入这个gpb插件会有编译警告
  {rebar3_gpb_plugin, "2.12.0"} % 编译protobuff
]}.


%% 依赖管理，在内网情况下，第三方包都放lib里面，这个就不怎么用的上了
{deps, [
%%  gpb,  %% protobuff库
  {lager, "3.7.0"},
  {ranch, "1.7.1"},
  {jsx, "v2.10.0"},  % json解析
  {cowboy, "2.6.3"},
  {mysql, "1.5.0"},
  protobuf

%%  日志管理 这个还必须放第一位，否则会报错：undefined parse transform 'lager_transform'
%%  {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.7.0"}}},
%%  {jsx, {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.10.0"}}}, % json解析
%%  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.6.3"}}},
%%  {mysql, {git, "https://github.com/mysql-otp/mysql-otp.git", {tag, "1.5.0"}}}
]}.

%% 节点配置，这里只是影响开发的设置，rebar3 shell 的时候用
{dist_node, [
  {setcookie, rich_cookie_shell},
  {sname, rich_shell}
]}.

{relx, [
  {release, {rich, "0.1.0"}, [
    %% 第三方
    sasl,
    lager,
    ranch,
    cowboy,
    mysql,
    %% 需要启动的
    mud,  %% 基础支持，最先启动
    login,
    game,
    tlog,
    %% 只加载，不启动的
    {jsx, load}
  ]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},


  {overlay, [
    {copy, "etc", "etc"}  % 复制目录
  ]},

  {dev_mode, true}, % 开发模式
  {include_erts, false},  % 打包erlang的运行环境
  {include_src, false}, % 打包源码

  {extended_start_script, true}
]}.

{profiles, [
  % 专门编译,其实只是为了把proto生成_pb.erl
  {pb, [
    {project_app_dirs, ["apps/protobuf"]}
  ]},

  % 编译项目应用
  {prod, [
%%    {project_app_dirs, ["apps/*"]},
    {relx, [
      {dev_mode, false},
      {include_erts, true}
    ]}
  ]}
]}.
