%% 注意要是proplist格式
%% 而且key不要用字符串，实在有需要的话用binary
{mud, [
  %% 监控树
  {tree, [
    %% 格式说明，参照标准文档的 child_spec()，map格式
    %% 但是有简化部分，注意看
    %% #{
    %%   id => 内部名字，必须有，同级内必须唯一，这个只是监控树的命名，最终注册名字以启动函数为准
    %%   start => 启动参数，支持 M / {M,A} / {M,F,A} 3种格式，默认是{id,start_link,[]}
    %%   type => worker | supervisor ，默认是 worker
    %%   children => 子节点，针对supervisor有效
    %% }

    #{
      id => gateway_sup,    % 网关
      type => supervisor,
      children =>
      [
        #{      % tcp网关
          id => gateway_tcp,
          start =>
          {
            gateway_ranch_tcp,  % 模块
            [ %% 参数，这个参数会传给 gateway_tcp及linker
              #{
                port => 20001,  % 端口
                mod_codec => codec_pbf, % 编码器
                mod_linker => linker_ranch_tcp  % 连接器
              }
            ]
          }
        },
        #{      % websocket网关
          id => gateway_websocket,
          start =>
          {
            gateway_websocket,  % 模块
            [ %% 参数，这个参数会传给 gateway_tcp及linker
              #{
                port => 20002,  % 端口
                mod_codec => codec_pbf % 编码器
              }
            ]
          }
        },
        #{      % http网关
          id => gateway_http,
          start =>
          {
            gateway_http,  % 模块
            [ %% 参数，这个参数会传给 gateway_tcp及linker
              #{
                port => 20003  % 端口
              }
            ]
          }
        }
      ]
    },
    #{id => event_sup, type => supervisor}, % 事件监控树
    #{id => user_sup, type => supervisor},  % 玩家监控树
    #{id => vhost_sup, type => supervisor},  % 游戏服监控树
    #{id => mud_dbase},  % 数据库
    #{id => mud_action}, % 行为ets
    #{id => t1} % 测试 mud_server 的
  ]}
]}.




